---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class="container">
		<section id="about">
			<h1>Neel Shah</h1>
			<p>TBA</p>
		</section>

		<section id="experience">
			<h2>Experience</h2>
			<p>TBA</p>
		</section>

		<section id="education">
			<h2>Education</h2>
			<p>TBA</p>
		</section>

		<section id="projects">
			<h2>Projects</h2>
			<p>TBA</p>
		</section>

		<section id="skills">
			<h2>Skills</h2>
			<p>TBA</p>
		</section>
	</main>
</Layout>
